BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../image/bg.jpg); WIDTH: 100%; COLOR: #666; FONT-FAMILY: "ËÎÌå"
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
IMG {
	VERTICAL-ALIGN: top
}
SELECT {
	VERTICAL-ALIGN: middle
}
INPUT {
	VERTICAL-ALIGN: middle
}
IMG {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #666
}
A:visited {
	COLOR: #666
}
A:hover {
	COLOR: #ff0000
}
A:active {
	COLOR: #666
}
A:focus {
	COLOR: #666
}
.m5 {
	MARGIN-TOP: 5px
}
.m8 {
	MARGIN-TOP: 18px
}
.m25 {
	MARGIN-TOP: 65px
}
.p3 {
	PADDING-TOP: 3px
}
.tb {
	MARGIN: 0px auto; WIDTH: 954px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.top {
	BACKGROUND: url(../image/top.jpg) repeat-x; WIDTH: 954px; HEIGHT: 89px
}
.logo {
	PADDING-LEFT: 10px; PADDING-TOP: 20px
}
.txt {
	WIDTH: 550px; MARGIN-RIGHT: 5px
}
.home {
	LINE-HEIGHT: 22px; TEXT-ALIGN: right
}
.tel {
	MARGIN-TOP: 5px; TEXT-ALIGN: right
}
.login {
	MARGIN-TOP: 8px; LINE-HEIGHT: 22px; TEXT-ALIGN: right
}
.login LI {
	FLOAT: left; MARGIN-LEFT: 1px
}
.login LI IMG {
	MARGIN-LEFT: 2px
}
.login INPUT {
	HEIGHT: 14px
}
.nav {
	MARGIN-BOTTOM: 1px; WIDTH: 954px
}
.menu {
	BACKGROUND: url(../image/menu/menu.jpg) repeat-x; WIDTH: 954px; HEIGHT: 34px
}
.mxia {
	BACKGROUND: url(../image/menu/nav.jpg) repeat-x; WIDTH: 954px; COLOR: #333333; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.mxia DIV {
	TEXT-ALIGN: center
}
.ban {
	MARGIN-TOP: 1px; WIDTH: 954px
}
.flash {
	WIDTH: 739px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 194px; BORDER-BOTTOM-STYLE: none
}
.ggao {
	BACKGROUND: url(../image/gao.gif) no-repeat; WIDTH: 211px; HEIGHT: 193px
}
.gcn {
	MARGIN: 8px auto 0px; WIDTH: 196px; TEXT-ALIGN: center
}
.ww1 {
	FLOAT: left; WIDTH: 137px; HEIGHT: 21px
}
.ww1 TD {
	FONT-SIZE: 12px; BACKGROUND: url(../image/td3.gif) no-repeat left top; WIDTH: 69px; CURSOR: hand; COLOR: #a26627; LINE-HEIGHT: 21px; HEIGHT: 21px; TEXT-ALIGN: center
}
.ww1 TD.s {
	BACKGROUND: url(../image/td2.gif) no-repeat left top; WIDTH: 68px; COLOR: #ff0000; LINE-HEIGHT: 21px; HEIGHT: 21px
}
.ww2 {
	MARGIN-TOP: 8px; FONT-SIZE: 12px; WIDTH: 196px; LINE-HEIGHT: 22px
}
.ww2 LI {
	PADDING-LEFT: 2px; TEXT-ALIGN: left
}
.ww2 A:link {
	COLOR: #a26627; TEXT-DECORATION: none
}
.ww2 A:visited {
	COLOR: #a26627; TEXT-DECORATION: none
}
.ww2 A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.ww2 A:active {
	COLOR: #a26627; TEXT-DECORATION: underline
}
.dis {
	DISPLAY: block
}
.undis {
	DISPLAY: none
}
.cn {
	MARGIN-TOP: 3px; WIDTH: 954px
}
.cz {
	WIDTH: 739px
}
.cz2 {
	MARGIN-BOTTOM: 2px; WIDTH: 739px
}
.zt0 {
	BACKGROUND: url(../image/zt0.gif) no-repeat; WIDTH: 738px; HEIGHT: 43px
}
.zt0 IMG {
	FLOAT: right; MARGIN-RIGHT: 5px; PADDING-TOP: 12px
}
.zm0 {
	BACKGROUND: url(../image/zm0.gif) repeat-y; WIDTH: 738px
}
.ym0 {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; MARGIN-TOP: 5px; BACKGROUND: url(../image/ymb.jpg) repeat-x; BORDER-LEFT: #dddddd 1px solid; WIDTH: 628px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 171px
}
.ymz {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 2px; MARGIN-LEFT: 2px; WIDTH: 310px
}
.sech {
	MARGIN-TOP: 6px; WIDTH: 310px
}
.sech INPUT {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 22px
}
.zcy {
	MARGIN-TOP: 8px; WIDTH: 308px; COLOR: #333333; FONT-FAMILY: "Î¢ÈíÑÅºÚ"
}
.zcy UL {
	MARGIN-TOP: 3px; WIDTH: 308px; LINE-HEIGHT: 22px
}
.zcy UL LI {
	FLOAT: left; MARGIN-LEFT: 3px
}
.ymr {
	MARGIN-LEFT: 2px; WIDTH: 308px
}
.ymch {
	MARGIN-TOP: 6px; WIDTH: 308px
}
.ymch INPUT {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 22px
}
.chb {
	MARGIN-TOP: 8px; WIDTH: 300px; COLOR: #333333; FONT-FAMILY: "Î¢ÈíÑÅºÚ"
}
.chb UL {
	MARGIN-TOP: 3px; WIDTH: 300px; LINE-HEIGHT: 22px
}
.chb UL LI {
	FLOAT: left; MARGIN-LEFT: 3px
}
.im {
	MARGIN-TOP: 2px! important; MARGIN-BOTTOM: 5px; WIDTH: 737px; HEIGHT: 136px
}
.zb0 {
	WIDTH: 738px; HEIGHT: 3px
}
.gao {
	WIDTH: 175px; HEIGHT: 208px
}
.ym {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 555px; COLOR: #134867; BORDER-BOTTOM: #e0e0e0 1px solid
}
.yt {
	BACKGROUND: url(../image/yt.jpg) no-repeat; WIDTH: 555px; HEIGHT: 40px
}
.yt IMG {
	PADDING-TOP: 10px
}
.yb {
	MARGIN-TOP: 5px; WIDTH: 555px
}
.eng {
	BORDER-RIGHT: #dadada 1px dashed; WIDTH: 286px
}
.egt {
	MARGIN-BOTTOM: 5px; WIDTH: 286px
}
.egt INPUT {
	MARGIN-TOP: 5px; HEIGHT: 15px
}
.egt LI {
	FLOAT: left
}
.zm {
	WIDTH: 285px; LINE-HEIGHT: 22px
}
.zm UL {
	MARGIN-TOP: 1px; WIDTH: 285px
}
.zm LI {
	FLOAT: left
}
.ces {
	WIDTH: 265px
}
.cet {
	MARGIN-BOTTOM: 5px; WIDTH: 260px
}
.cet INPUT {
	MARGIN-TOP: 5px; HEIGHT: 15px
}
.cet LI {
	FLOAT: left
}
.ceb {
	WIDTH: 258px
}
.ball {
	WIDTH: 69px
}
.bay {
	MARGIN-LEFT: 2px; WIDTH: 185px; LINE-HEIGHT: 22px
}
.bay UL {
	MARGIN-TOP: 1px; WIDTH: 185px
}
.bay LI {
	FLOAT: left
}
.ybx {
	BORDER-TOP: #dadada 1px dashed; WIDTH: 555px; COLOR: #bb1819; HEIGHT: 28px; BACKGROUND-COLOR: #f8f8f8
}
.ybx LI {
	FLOAT: left; MARGIN-LEFT: 1px; LINE-HEIGHT: 26px
}
.ybx IMG {
	MARGIN-LEFT: 3px; MARGIN-RIGHT: 2px; PADDING-TOP: 2px
}
.cz3 {
	MARGIN-TOP: 3px; WIDTH: 739px
}
.zyt {
	FONT-WEIGHT: bold; BACKGROUND: url(../image/zy.jpg) no-repeat; WIDTH: 123px; COLOR: #ffffff; LINE-HEIGHT: 28px; HEIGHT: 29px; TEXT-ALIGN: center
}
.yx {
	MARGIN-LEFT: 10px
}
.zyz {
	BORDER-RIGHT: #dadada 1px dashed; MARGIN-TOP: 5px; MARGIN-LEFT: 6px; WIDTH: 180px; LINE-HEIGHT: 22px; TEXT-ALIGN: left
}
.zyz IMG {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle
}
.zyz2 {
	MARGIN-TOP: 5px; MARGIN-LEFT: 10px; WIDTH: 180px; LINE-HEIGHT: 22px; TEXT-ALIGN: left
}
.zyz2 IMG {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle
}
.font {
	FONT-WEIGHT: bold; COLOR: #fa6707
}
.red {
	COLOR: #ff0000
}
.fred {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.cz4 {
	MARGIN-TOP: 3px; WIDTH: 739px
}
.tg {
	BACKGROUND: url(../image/tg.jpg) repeat-x; HEIGHT: 142px
}
.tgz {
	BORDER-RIGHT: #dadada 1px solid; FONT-SIZE: 14px; MARGIN-LEFT: 6px; WIDTH: 228px; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.jf {
	WIDTH: 125px; LINE-HEIGHT: 24px; TEXT-ALIGN: center
}
.jfr {
	WIDTH: 90px; LINE-HEIGHT: 24px; PADDING-TOP: 6px
}
.jred {
	FONT-SIZE: 18px; COLOR: #ff0000
}
.tgr {
	MARGIN-TOP: 3px; WIDTH: 490px; TEXT-INDENT: 2em; LINE-HEIGHT: 24px; MARGIN-RIGHT: 5px; TEXT-ALIGN: left
}
.navbg1 {
	FONT-WEIGHT: normal; BACKGROUND: url(../image/a0.jpg) no-repeat center 50%; FLOAT: right; WIDTH: 71px; CURSOR: pointer; COLOR: #d24c00; LINE-HEIGHT: 35px; HEIGHT: 31px; TEXT-ALIGN: center
}
.navbg2 {
	BACKGROUND: url(../image/b0.jpg) no-repeat center 50%; FLOAT: right; WIDTH: 71px; CURSOR: pointer; COLOR: #d24c00; LINE-HEIGHT: 35px; HEIGHT: 31px; TEXT-ALIGN: center
}
.navbg11 {
	FONT-WEIGHT: normal; BACKGROUND: url(../image/q8.jpg) no-repeat left 50%; FLOAT: right; WIDTH: 93px; CURSOR: pointer; COLOR: #ff6600; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.navbg22 {
	FONT-WEIGHT: normal; BACKGROUND: url(../image/q88.jpg) no-repeat left 50%; FLOAT: right; WIDTH: 101px; CURSOR: pointer; COLOR: #333333; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.navbg111 {
	BACKGROUND: url(../image/ck-10.jpg) no-repeat; WIDTH: 117px; CURSOR: pointer; HEIGHT: 25px; TEXT-ALIGN: center
}
.navbg111 IMG {
	PADDING-TOP: 3px
}
.navbg222 {
	BACKGROUND: url(../image/ck-09.jpg) no-repeat; WIDTH: 117px; CURSOR: pointer; HEIGHT: 25px; TEXT-ALIGN: center
}
.navbg222 IMG {
	PADDING-TOP: 3px
}
.show {
	DISPLAY: block
}
.hide {
	DISPLAY: none
}
.NavBox {
	WIDTH: 954px
}
.NavBox IMG {
	VERTICAL-ALIGN: top
}
.TitleList {
	BACKGROUND: url(../image/imgs/menu.jpg) repeat-x; FLOAT: left; WIDTH: 948px; LINE-HEIGHT: 35px; HEIGHT: 39px; TEXT-ALIGN: left
}
.TitleList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; PADDING-TOP: 0px
}
.TitleList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; WIDTH: 81px; CURSOR: pointer; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.TitleMoseOut {
	FONT-SIZE: 12px; BACKGROUND: url(../image/imgs/line3.jpg) no-repeat; COLOR: #fff; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; HEIGHT: 39px
}
.TitleMoseOut A {
	TEXT-DECORATION: none
}
.TitleMoseOut A:link {
	COLOR: #ffffff
}
.TitleMoseOut A:visited {
	COLOR: #ffffff
}
.TitleMoseOut A:hover {
	COLOR: #ff0000
}
.TitleMoseOut A:active {
	COLOR: #ffffff
}
.TitleMoseOver {
	FONT-SIZE: 14px; BACKGROUND: url(../image/imgs/ibg.jpg) no-repeat; VERTICAL-ALIGN: bottom; OVERFLOW: hidden; WIDTH: 80px; COLOR: #000000; LINE-HEIGHT: 41px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; HEIGHT: 39px
}
.TitleMoseOver A {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.TitleMoseOver A:link {
	COLOR: #000000
}
.TitleMoseOver A:visited {
	COLOR: #000000
}
.TitleMoseOver A:hover {
	COLOR: #000000
}
.TitleMoseOver A:active {
	COLOR: #000000
}
.ListInfo {
	DISPLAY: none
}
.TitleInfo {
	FONT-SIZE: 12px; BACKGROUND: url(../image/imgs/sbg.jpg) repeat-x; WIDTH: 954px; LINE-HEIGHT: 28px; HEIGHT: 28px; TEXT-ALIGN: left
}
.zbian {
	WIDTH: 3px; HEIGHT: 39px
}
.web {
	MARGIN-TOP: 3px; WIDTH: 739px
}
.boss {
	WIDTH: 369px
}
.bsz2 {
	BACKGROUND: url(../image/bleft.jpg) no-repeat; WIDTH: 8px; HEIGHT: 180px
}
.bsm2 {
	BACKGROUND: url(../image/bmid.jpg) repeat-x; WIDTH: 355px; HEIGHT: 180px
}
.bsr2 {
	BACKGROUND: url(../image/bri.jpg) no-repeat; WIDTH: 4px; HEIGHT: 180px
}
.bst {
	MARGIN-TOP: 10px; WIDTH: 350px
}
.bst IMG {
	FLOAT: left
}
.bsb {
	MARGIN-TOP: 5px; WIDTH: 350px
}
.bsz {
	WIDTH: 110px; PADDING-TOP: 5px
}
.bsr {
	WIDTH: 240px
}
.brt {
	WIDTH: 240px
}
.brt IMG {
	MARGIN-LEFT: 3px
}
.brb {
	MARGIN-TOP: 8px; WIDTH: 230px; LINE-HEIGHT: 22px; TEXT-ALIGN: left
}
.jz {
	WIDTH: 369px
}
.wz {
	MARGIN-TOP: 10px; WIDTH: 350px
}
.wz IMG {
	MARGIN-LEFT: 5px
}
.ys {
	MARGIN-TOP: 3px; WIDTH: 739px
}
.ysz {
	BACKGROUND: url(../image/ysz.gif) no-repeat; WIDTH: 8px; HEIGHT: 197px
}
.ysm {
	BACKGROUND: url(../image/ysm.gif) repeat-x; WIDTH: 215px; HEIGHT: 197px
}
.ysm2 {
	BACKGROUND: url(../image/ysm.gif) repeat-x; WIDTH: 480px; HEIGHT: 197px
}
.ysr {
	BACKGROUND: url(../image/ysr.gif) no-repeat; WIDTH: 8px; HEIGHT: 197px
}
.yz {
	WIDTH: 232px; HEIGHT: 197px
}
.ytt {
	MARGIN-TOP: 8px; FONT-WEIGHT: bold; BACKGROUND: url(../image/yzt.gif) no-repeat; MARGIN-LEFT: 4px; WIDTH: 200px; COLOR: #ffffff; TEXT-INDENT: 2em; LINE-HEIGHT: 24px; HEIGHT: 28px; TEXT-ALIGN: left
}
.ytm {
	MARGIN-TOP: 6px; MARGIN-LEFT: 4px; WIDTH: 200px; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
.ytm IMG {
	MARGIN-TOP: 12px; MARGIN-LEFT: 2px
}
.yr {
	WIDTH: 500px; HEIGHT: 197px
}
.yrd {
	WIDTH: 480px
}
.ydt {
	BACKGROUND: url(../image/yst.jpg) no-repeat; WIDTH: 268px; COLOR: #fe0003; TEXT-INDENT: 0.5em; LINE-HEIGHT: 24px; HEIGHT: 22px; TEXT-ALIGN: left
}
.ydmm {
	MARGIN-TOP: 8px; WIDTH: 480px
}
.ydz {
	WIDTH: 42px
}
.ydr {
	WIDTH: 435px; LINE-HEIGHT: 22px; TEXT-ALIGN: left
}
.cr {
	WIDTH: 211px
}
.cr2 {
	BORDER-RIGHT: #febe50 1px solid; BORDER-TOP: #febe50 1px solid; BORDER-LEFT: #febe50 1px solid; WIDTH: 208px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #febe50 1px solid; BACKGROUND-COLOR: #fafafa
}
.r2t {
	WIDTH: 209px
}
.r2b {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; WIDTH: 208px
}
.ren {
	MARGIN-TOP: 5px; BACKGROUND: url(../image/rbg.jpg) repeat-x; WIDTH: 206px; LINE-HEIGHT: 22px; HEIGHT: 131px; TEXT-ALIGN: center
}
.xxi {
	WIDTH: 208px; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.cr3 {
	MARGIN-TOP: 5px; WIDTH: 209px
}
.r3t {
	BACKGROUND: url(../image/q0.jpg) no-repeat; WIDTH: 209px; HEIGHT: 27px; TEXT-ALIGN: right
}
.r3t IMG {
	PADDING-RIGHT: 3px; PADDING-TOP: 10px
}
.r3b {
	BACKGROUND: url(../image/q02.jpg) repeat-y; WIDTH: 209px
}
.q03 {
	BACKGROUND: url(../image/q03.jpg) no-repeat; WIDTH: 209px; HEIGHT: 6px
}
.butt {
	WIDTH: 180px
}
.butt IMG {
	MARGIN-TOP: 8px; MARGIN-LEFT: 5px
}
.sev {
	MARGIN-LEFT: 3px; WIDTH: 200px; PADDING-TOP: 5px
}
.sev LI {
	BACKGROUND: url(../image/ibg2.jpg) no-repeat; WIDTH: 200px; TEXT-INDENT: 1.5em; LINE-HEIGHT: 27px; HEIGHT: 27px; TEXT-ALIGN: left
}
.tu2 {
	MARGIN-TOP: 5px; WIDTH: 210px; HEIGHT: 150px
}
.cp {
	MARGIN-TOP: 3px; BACKGROUND: url(../image/cop.jpg) repeat-x; WIDTH: 954px; COLOR: #ffffff; LINE-HEIGHT: 30px; HEIGHT: 50px
}
.cp A {
	TEXT-DECORATION: none
}
.cp A:link {
	COLOR: #ffffff
}
.cp A:visited {
	COLOR: #ffffff
}
.cp A:hover {
	COLOR: #ffff00
}
.cp A:active {
	COLOR: #ffffff
}
.bom {
	PADDING-BOTTOM: 15px; MARGIN: 0px auto; WIDTH: 700px; LINE-HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.bom IMG {
	PADDING-TOP: 15px
}
.xnz {
	BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; MARGIN-TOP: 3px; BORDER-LEFT: #cfcfcf 1px solid; WIDTH: 736px; BORDER-BOTTOM: #cfcfcf 1px solid
}
.xnt {
	WIDTH: 736px; BORDER-BOTTOM: #cfcfcf 1px solid; HEIGHT: 31px; BACKGROUND-COLOR: #f3f3f3
}
.xnt IMG {
	MARGIN: 3px
}
.more {
	MARGIN-TOP: 6px; MARGIN-RIGHT: 5px
}
.xnb {
	BACKGROUND: url(../image/xnbg.jpg) repeat-x; WIDTH: 736px; HEIGHT: 191px
}
.xnbn {
	BORDER-RIGHT: #bfbfbf 1px solid; MARGIN-LEFT: 6px; WIDTH: 174px; LINE-HEIGHT: 20px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.wh {
	MARGIN-TOP: 3px; COLOR: #ca0000
}
.bla {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; COLOR: #333333
}
.xnbn IMG {
	MARGIN-TOP: 5px
}
.yju {
	MARGIN-TOP: 5px; BACKGROUND: url(../image/yj.jpg) no-repeat; WIDTH: 204px; HEIGHT: 249px
}
.kf {
	MARGIN-TOP: 5px; WIDTH: 209px
}
.kfm {
	BORDER-RIGHT: #cdd0d7 1px solid; BORDER-TOP: #cdd0d7 1px; BORDER-LEFT: #cdd0d7 1px solid; BORDER-BOTTOM: #cdd0d7 1px
}
.bt {
	MARGIN: 0px auto; WIDTH: 197px; TEXT-ALIGN: center
}
.bt2 {
	FONT-WEIGHT: bold; BACKGROUND: url(../image/bt.jpg) no-repeat; WIDTH: 197px; COLOR: #6f6f6f; LINE-HEIGHT: 30px; HEIGHT: 28px
}
.bt3 {
	MARGIN-TOP: 3px
}
.bt3 IMG {
	MARGIN-TOP: 5px
}
.bt4 {
	MARGIN-TOP: 8px; WIDTH: 180px; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
.bt5 {
	MARGIN: 0px auto; WIDTH: 197px; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: center
}
.bt6 {
	MARGIN-TOP: 8px; WIDTH: 180px; LINE-HEIGHT: 24px
}
.bt6 IMG {
	MARGIN-LEFT: 6px
}
.ck_fr {
	BORDER-RIGHT: #f8ecde 1px solid; BORDER-TOP: #f8ecde 1px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BORDER-LEFT: #f8ecde 1px solid; WIDTH: 954px; BORDER-BOTTOM: #f8ecde 1px solid; BACKGROUND-COLOR: #fff7f2
}
.cr_fb {
	MARGIN-BOTTOM: 5px; WIDTH: 950px; CURSOR: pointer; HEIGHT: 80px; BACKGROUND-COLOR: #ffffff
}
.cr_fb IMG {
	FLOAT: left; MARGIN: 8px auto 8px 6px
}
.cr_fb2 {
	MARGIN-BOTTOM: 5px; WIDTH: 950px; CURSOR: pointer; LINE-HEIGHT: 24px; PADDING-TOP: 5px; HEIGHT: 75px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.cr_fb2 P {
	PADDING-LEFT: 8px; WIDTH: 942px
}
