/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
table td{ font-size:12px; line-height:180%;}
input{ 
border:1px #CCCCCC solid;
}
.title{
font-size:13px;
color:#333333;
font-weight:bold;
}
.titlea{
font-size:13px;
color:#333333;
}
.biao{
font-size:14px;
color:#ffff00;
font-weight:bold;
}
.biao td{
font-size:14px;
color:#ffff00;
font-weight:bold;
}

.content{
font-size:12px;
color:#000000;
}
a:link {
	text-decoration: none;
	color: #3399FF;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #000000;
}
a:active {
	text-decoration: none;
}
.bon{
font-size:12px;
color:#666666;
}

.STYLE9 {
	color: #A77D23;
	font-size: 14px;
	font-weight: bold;
	line-height: 31px;
}
.title2 {
	font-size: 12px;
	color: #A77D23;
}
.anniu {
	border: 1px solid #dddddd;
	background-color: #999999;
	height: 25px;
	color:#333333; line-height:25px
}
.bt {
	color: #4c4c4c;
	font-size: 12px;
	font-weight: bold;
}
.btop {
	font-size: 14px;
	font-weight: bold;
	color: #4c4c4c;
}


/********************************table***************************************/
 .tab3{ background:#FFF;  }
.tab3 td{  height:24px; line-height:24px; padding:2px;font-size:12px; border:1px solid #e4e4e4;}
.tab3 th{ background:url(../Images/bar_header.gif) repeat-x; height:28px; line-height:28px; text-align:center;font-weight:bold; border:1px solid #e4e4e4; font-size:12px; color:#4c4c4c;}
.tab3 th:hover{ background:url(../Images/th_hover3.gif) repeat-x; height:28px; line-height:28px; text-align:center; font-weight:bold;}
.tab3 {border-collapse:collapse; border-spacing:0; jerry:expression(cellSpacing="0");}
.tab4 {font-size:12px;}
.tab4 td{ height:30px;}


/*=========users--========*/
.zc_hong{font-size:16px;color:#F00;}
.hong{color:#F00;}
.lan{color:#00F;}
.msg_tip { background:url(../Images/msg_bg.png) 0 -150px no-repeat;  height:16px; text-indent:20px; line-height:16px;float:left;}
.msg_ok { background:url(../Images/msg_bg.png) 0 -250px no-repeat; height:16px; width:16px;  line-height:16px;float:left;}
.msg_error { background:url(../Images/msg_bg.png) 0 0 no-repeat; height:16px; text-indent:20px; line-height:16px; float:left;}
.focus_r { float:left; color:#333;  border:1px solid #CCC; height:16px; padding:2px 5px; padding-top:2px}
.info {float:left; margin-left:10px;}
.shou {font-size:14px !important; font-weight:bold !important;}
.STYLE1{color:#F00;}.STYLE3{color:#F00;}
.c_p5{ margin-top:0px;}
.c_p10{ margin-top:10px;}
.tips{ border:1px solid #C75E1E; padding:5px; text-indent:22px; line-height:22px; font-size:12px; background-color: #FFF6D0; background-image: url(../Images/light.gif); background-repeat: no-repeat; background-position: 10px 6px; }