* {margin:0; padding:0;}
table{/* background:#f4f7f2*/ font-size:12px;}
td { padding:2px;}
img {border:0;}
#container {width:100%; margin:0 auto; position: relative;}
.clear { clear: both; font-size:0; height: 0;}
.clear10 { clear: both; height: 10px;}

#header {height:134px; position:relative;}
.fahgenrs{ width:300px; height:30px; position: absolute; left:610px;top:40px;}
body {font-size:12px; background-color:#FFF; font-family:Verdana, Geneva, sans-serif; color:##6a6c6f; color:#646464;}
ul,li,dt,dd,dl { list-style: none;}
a {outline: 0; text-decoration:none;  cursor:pointer;}
a:hover {color:#f37800;}
.fr {float:right; text-align:right;}
.red { color: #f37800; font-weight:bold;}
.mr10 { margin-right:10px;}
input { padding: 5px; border-radius: 3px;border: 1px solid #ccc;}
.ipt { width: 220px;padding: 5px;border-radius: 3px;border: 1px solid #ccc; height:30px;}
.link_1 a{color: #5a5a5a;}
.link_1 a:hover{color: #3d9618; text-decoration: underline;}

.link_2 a{color: #797979;}
.link_2 a:hover{color: #3d9618; text-decoration: underline;}
.banner_box{min-width:800px; min-height:198px; margin-bottom:16px;}
.banner_box img{ width:100%; height:100%;}

.logo { float:left; width:245px; height:60px; padding-top:10px; position: absolute; left:210px;}
#dianmiss{ width:1000px; height:230px;  margin:0 auto;}
#right_layout {float:left; width:1000px; }

#sub_left_layout {background:#ecead3; float:left; width:148px; height:120px; border:1px solid #dfddc1; border-top:0px; overflow:hidden;}
#sub_right_layout {float:right; width:840px; height:120px; overflow:hidden}

#center_layout { border-top:0; padding-top:20px; _display:inline; }
.header_banner {width:630px; height:215px; float:right; text-align: right; overflow:hidden;}
.center_line { clear: both; height:32px; background:url(../Images/center_line.gif) no-repeat;}
#foot {  text-align:center; height:30px; line-height:30px; position: absolute; left:0; width:100%; color: #eee; font-family:arial;}

.notice {margin:0px 0 10px 10px;}
.notice .contents { width:623px; min-height:100px; _height:100px; padding:0px 10px 0px 10px;  }

/*background:url(../Images/column.png) repeat-x;*/
.titles {  height:37px;  overflow:hidden;  line-height:37px; padding-left:15px;
color: #2F6019;
font-size: 16px;
font-weight: bold;
font-family: microsoft Yahei;

}
.news { background:url(../Images/news.gif) no-repeat;  width:600px; height:160px; float:left;}
.news_right_img {float:right; width:194px; height:160px;}
.right_line { background:url(../Images/right_line.gif) no-repeat; height:310px; width:21px; float:right;}
#right_box {float:left; }
.top_title {height:20px; float:right; clear: both; line-height:20px; margin-top:5px; position: absolute; right:0px; top:10px;}
.top_user {height:20px; float:right; clear:both; position:absolute; right:500px; top:50px; width:180px; color:#F00; line-height:20px; text-indent:5px; text-align:center;}
.top_title a {color: #b0b0b0; font-size:12px; text-decoration: none;}

.top_user1 {height:20px; float:right; clear:both; position:absolute; right:500px; top:70px;
 width:180px;  color:#F00; line-height:20px; text-indent:5px; text-align:center;}
.top_title a:hover {color:#0eb83a}
.user_dl dt{  width:60px;}
.user_dl dd { width: 50px; text-align:left; float:right;}
.header_post {width:200px; height:215px; margin-right:10px; background:#fafaf3; float:left; color: #4d4d4d;}
.cont { padding: 5px; text-indent:24px; line-height:20px;}
.icon_user {  font-weight:bold; clear: both; width:220px;}
.icon_post { margin:20px 0 10px 15px; background:url(../Images/icon_post.gif) left center no-repeat; font-weight:bold; color:#08540f; clear: both; text-indent:24px;}

#user-manage {width:220px; margin-left:10px; line-height:30px; font-size:12px;}
#user-manage table td li{ display:block; width:190px; height:30px; float:left; line-height:30px;}
.img-manage img {  }
.img-manage .contents {width:auto;}
.img-manage a { text-align:center; width:68px; display:block; color:#0188cc;}
.img-list li {float:left; width:68px;   margin:8px 10px; _margin:8px 10px; _display:inline;}

.news_cont { }
.list_1 li{ line-height:34px; border-bottom: 1px solid #eaeaea; color: #7b7b7b; height:34px; text-indent:2px; font-size:14px;}
.list_1 span { margin-right: 5px; float:right; display:inline;}

.list_2 li{  border-bottom: 1px dashed #eaeaea; color: #7b7b7b; padding-top:5px;}
.list_2 span { margin-right: 15px; float:right; display:inline;}
.list_2 li a { height:24px; line-height:24px;}

.news_left {width:310px; height:150px; float:left; margin: 10px 0 0 50px; color:#a7a7a7; display:inline}
.news_left .title { margin: 10px 0 10px 0;}
.news_right {width:215px; height:150px; float:right; margin: 10px 0 0 10px;}
.news_right li {line-height:24px; border-bottom:1px dashed #e8e8e8}
.more a{float:right;font-weight:normal; font-size:12px;  width:40px; height:20px; color:#0188cc;}
.more2 a{float:right; margin: 5px 5px 0 0; width:40px; height:20px;}

#sub_main { width:946px; border:1px solid #c6c6c6; min-height: 300px; margin:0 auto; border-top:0; }

.center_line2 { background:#e8e8e8; width:946px; height:35px; line-height:35px; clear: both; margin-top:5px; margin:0 auto;  border:1px solid #c6c6c6;}
.center_line2 h1 { font-size:14px; font-weight:bold; color:#cd0001; text-indent:15px; line-height:35px;}
.center_line2 span { float:right; line-height:35px; margin-right:10px}
.tab_s1 { border-collapse:collapse; border:1px solid #ecead3;}
.tab_s1 td { height:28px; line-height:28px; padding-left:8px; background:#fafaf3; border:1px solid #dfddc1}
.tab_s1 .btm { background:#ecead3; height:35px; border:0px;}
.tab_s2 { border-collapse:collapse;}
.tab_s2 td { height:28px; line-height:28px; padding-left:8px; background:#fafaf3; border:1px solid #dfddc1}
.tab_s2 .btm { background:#ecead3; height:35px;}
.tab_s3 td{ border:0;}

/*最新资讯*/
.p_news{ display:inline; float:left; width:700px; height:225px; margin-left:10px;}
.holdline{ border:1px solid #ddd; display:inline; float:left; width:470px; background:#fff; height:234px}
.holdline_1{ border:1px solid #ddd; display:inline; float:right; width:220px; background:#fff; height:234px}
.ptl{ display:inline; float:left; width:100%; margin-bottom:10px;}
.ptl span{ display:inline; float:left; margin-top:10px; margin-left:10px; color:#2F6019; font-size:16px; font-weight:bold; font-family: microsoft Yahei;}
.ptl a:link,.ptl a:visited{ display:inline; float:right; margin-top:10px; margin-right:10px; text-decoration:none; color:#666;}
.ptl a:link,.ptl a:visited{color:#2F6019;}
.new_news{ display:inline; float:left;  width:216px; margin-left:10px;margin-bottom:10px; height:180px; overflow:hidden;}
ul.top_news{ display: inline; float:left; width:216px; }
ul.top_news li{display: inline; float:left; margin-bottom:3px }
ul.top_news li.tnimg img{ display:block;}
ul.top_news li.tnimg a:link,ul.top_news li.tnimg a:visited{ display:block; border:1px solid #fff;}
ul.top_news li.tnimg a:hover,ul.top_news li.tnimg a:active{ display:block; border:1px solid #2F6019;}
ul.top_news li.tntl a:link,ul.top_news li.tntl a:visited{ display:block; width:216px; height:20px; line-height:20px; vertical-align:middle; text-decoration:none; text-align:center;}
ul.top_news li.tncon{ width:216px; line-height:18px; vertical-align:middle; text-indent:24px;}
.line_jg{
	display:inline;
	float:left;
	background:#CCC;
	width:1px;
	margin-left:10px;
	margin-bottom:10px;
	height:180px;
}
ul.dalely_n{ display:inline; float:left; width:216px;}
ul.dalely_n li{display:inline; float:left; width:216px; }
ul.dalely_n li a:link,ul.dalely_n li a:visited{ text-decoration:none; display:block; width:216px; height:20px; line-height:20px; overflow:hidden;}
ul.dalely_n li a:hover,ul.dalely_n li a:active{text-decoration: underline; }
/*------会员提现----*/
.p_tixian{
	display:inline;
	float:right;
	width:228px;
	overflow:hidden;
}

ul.idx_dzw { display:inline; float:left; width:208px; height:160px; overflow:hidden; margin-bottom:10px; }
ul.idx_dzw li{ display:inline; float:left; width:208px; margin:0px; padding:0px; margin-top:5px; margin-left:10px; }
ul.idx_dzw li span{ display:inline; float:left; text-align:center; color:#0F63AB}
ul.idx_dzw li span.cash{ width:70px; line-height:20px;}
ul.idx_dzw li span.usename{ width:70px; line-height:20px;}
ul.idx_dzw li span.date{ width:68px; line-height:20px;}
.tixiantl { display: inline; float:left; width:208px; margin-left:10px; }
.tixiantl span{ display: inline; float:left; text-align:center; font-size:14px; font-weight:bold; color:#C64F08; }
.tixiantl span.usename{ width:70px; line-height:20px;}
.tixiantl span.cash{ width:70px; line-height:20px;}
.tixiantl span.date{ width:68px; line-height:20px;}
/*产品展示*/
.p_jp{
	display:inline;
	float:left;
	width:100%;
}
.holdline_2{border:1px solid #ddd; display:inline; float:left; width:960px; background:#fff; height:175px;}

 #slide {  
        width:960px;float:left;  overflow:hidden; height:130px;  
        } 
ul.pdlist{ display:inline; float:left; margin-bottom:15px;}
ul.pdlist li{ display:inline; float:left; width:102px;margin-left:15px; margin-bottom:15px;}
ul.pdlist li span.pdimg a:link,ul.pdlist li span.pdimg a:visited{ display:block; width:100px; height:100px; border:1px solid #fff;}
ul.pdlist li span.pdimg a:hover,ul.pdlist li span.pdimg a:active{  border:1px solid #2F6019;}
ul.pdlist li span.pdtx a:link,ul.pdtx li span.pdimg a:visited{ display:block; width:102px; height:20px; line-height:20px; text-align:center; text-decoration:none; color:#666;}
ul.pdlist li span.pdtx a:hover,ul.pdlist li span.pdtx a:active{ color: #2F6019; text-decoration:underline;}
ul.pd_show li{ margin-left:15px; margin-bottom:15px;}
/*=========users--========*/
.zc_hong{font-size:16px;color:#F00;}
.hong{color:#F00;}
.lan{color:#00F;}
.msg_tip { background:url(../Images/msg_bg.png) 0 -150px no-repeat;  height:16px; text-indent:20px; line-height:16px;float:left;}
.msg_ok { background:url(../Images/msg_bg.png) 0 -250px no-repeat; height:16px; width:16px;  line-height:16px;float:left;}
.msg_error { background:url(../Images/msg_bg.png) 0 0 no-repeat; height:16px; text-indent:20px; line-height:16px; float:left;}
.focus_r { float:left; color:#333; height:16px; padding:2px 5px; padding-top:2px}
.info {float:left; margin-left:10px;}
.shou {font-size:14px !important; font-weight:bold !important;}
.STYLE1{color:#F00;}.STYLE3{color:#F00;}


/*=========users--========*/
.c_p5{ margin-top:1px;}
.c_p10{ margin-top:10px;}
.tips{ border:1px solid #C75E1E; padding:5px; text-indent:22px; line-height:22px; font-size:12px; background-color: #FFF6D0; background-image: url(../Images/light.gif); background-repeat: no-repeat; background-position: 10px 6px; }
.zc_hong{font-size:16px;color:#F00;}
.hong{color:#F00; font-size:14px; font-family:Verdana, Geneva, sans-serif;}
.lan{color:#00F;}
.msg_tip { background:url(../Images/msg_bg.png) 0 -150px no-repeat;  height:16px; text-indent:20px; line-height:16px;float:left;}
.msg_ok { background:url(../Images/msg_bg.png) 0 -250px no-repeat; height:16px; width:16px;  line-height:16px;float:left;}
.msg_error { background:url(../Images/msg_bg.png) 0 0 no-repeat; height:16px; text-indent:20px; line-height:16px; float:left;}
.focus_r { float:left; color:#333;  height:16px; padding:2px 5px; padding-top:2px}
.info {float:left; margin-left:10px;}
.shou {font-size:14px !important; font-weight:bold !important;}


/********************************��ҳ***************************************/
.ncenter_box{ width:98%; height:auto; margin:0 auto; background:#fbfcfd;  margin-top:6px; margin-bottom:8px; } 
.ncenter_box .accounttitle{ height:30px; background:url(../Images/mian_tipg.jpg);  border-bottom:0px;}
.ncenter_box .accounttitle h1{ padding-left:20px; line-height:29px; height:29px; background:url("../Images/sub_bav_left.gif") 3px center no-repeat; color:#666; font-size:14px; font-weight:bold;}

.ncenter_box .accounttitle_1{ height:30px; background:url(../Images/mian_tipg.jpg);  border-bottom:0px;}
.ncenter_box .accounttitle_1 h1{ padding-left:20px; line-height:10px; height:29px; background:url("../Images/sub_bav_left.gif") 3px 5px no-repeat; color:#666; font-size:14px; font-weight:bold;}

.bottom{ width:960px; height:18px; float:left; }

/******�ؼ�---��ť*******/
.bt_tj,.btn1,.button_text{ height:26px; background:url(../Images/account_btn.jpg); border:1px solid #a71a1a; font-size:12px; color:#717171; padding:2px 10px;
 line-height:20px;  border:1px solid #b4b4b4; cursor:pointer; font-weight:bold;}
.bt_tj1{ width:170px; height:26px; background:url(../Images/corp_main_table_bbj.gif); border:none; font-size:14px; font-weight:bold; color:#fff; padding-left:18px; line-height:30px;}
.inpt{ width:242px; height:24px!important; line-height:24px; background:url(../Images/account_inputbg.jpg) no-repeat; color:#555; padding-left:5px; border: none}
.inp{ width:70px;height:24px; line-height:24px;background:url(../Images/account_inputbg.jpg) no-repeat; color:#555; padding-left:8px; border:none; border-right:1px solid #B8B8B8;}
.yangs_bnte{ text-align:center;}

input[type='text'],input[type='password'],input[type='type'] {}

/********************************table***************************************/
 .tab3{ background:#fbfcfd;  }
.tab3 td{  height:24px; line-height:24px; padding:2px;font-size:12px; border:1px solid #d5dce5;}
.tab3 th{ background:url(../Images/bar_header.gif) repeat-x; height:28px; line-height:28px; text-align:center;font-weight:bold; border:1px solid #e4e4e4; border:1px solid #d5dce5;font-size:12px;}
.tab3 th:hover{ background:url(../Images/th_hover3.gif) repeat-x; height:28px; line-height:28px; text-align:center; font-weight:bold;}
.tab3 {  
border-collapse:collapse;  
border-spacing:0;  
padding:2px 20px;
jerry:expression(cellSpacing="0");
} 

.tab3_bottom,.bar_foot{background:#ffffe5;height:24px; line-height:24px; padding:0 2px;font-size:12px;
border:1px solid #e4e4e4; padding:5px; margin-top:10px;}

.tab4{ font-size:12px;}
.tab4 td{ height:20px;}
.tab4 {background-color:#fbfcfd;}
.tab5 td {border-bottom:1px solid #e4e4e4;}
.footer {text-align: center; width:100%; margin:0 auto; background:#f2f2f2; color:#aaa; border-top:1px solid #e4e4e4; height:50px; line-height:40px;}


.hpanel{ width:100%; overflow:hidden; min-width:1090px; }
.offer, .req_b{ min-width:540px; width:48%; min-height:290px; border-radius:2px; border:1px solid #f1f6fa;text-align:center;}
.offer{ float:left; background:url(../Images/button-img1.jpg) center center no-repeat; background-size:cover; }

.req_b{ float:right; background:url(../Images/button-img2.jpg)  center center no-repeat; background-size:cover;}
.offer p, .req_b p{  margin-top:40px; font-family:"微软雅黑"; font-size:20px; color:#fff; text-shadow:1px 1px 0 #303030;}
.offer span, .req_b span{ display:block; color:#55cc1e;text-shadow:1px 1px 0 #143305;}
.offer a, .req_b a{ display:block; width:120px; height:46px; color:#fff; margin:190px 0 0 220px;border-radius:4px; line-height:46px;font-family:"微软雅黑"; font-size:14px; opacity:0.9;}
.offer a:hover{/* background:#74d348; color:#fff;*/}
.offer a{ background:#55cc1e ;}
.req_b a{ background:#ebab00;}
.req_b a:hover{/*background:#ffba00; color:#fff;*/}



.money{ overflow:hidden;}
.virtual{ width:32%; min-width:300px; float:left; margin:30px 0 0px 30px; border:1px solid #e4e5e7; border-radius:2px; background:#fff; text-align:center;  }
.virtual h1{ font-weight:normal; font-family:"微软雅黑"; font-size:20px; padding:30px 0 20px 0 ;}
.virtual h2{ border:none; font-size:20px; }
.virtual h3{ font-size:18px; color:#55cc1e;}
.virtual a{ display:block; width:100px; height:70px; background:#55cc1e; border-radius:6px; margin:10px auto 20px auto; color:#FFF; font-size:16px; }
.virtual a:hover{ color:#fff;}
.virtual p{ line-height:33px; font-size:14px}
.bonlist{ padding:20px 30px; background:#fff; margin-top:10px; }
.borecord{ margin-left:30px; margin-top:36px;}
.tab11{border:solid #d9e1ef;  border-spacing: 0; width:90%; margin-top:16px;   }
.tab_bor{border-width:1px 0px 0px 1px;background:#fff;}
.tab_bor1{ margin-top:0px;border-width:0px 0px 0px 1px;background: #f9f9f9;}
.tab11 td{border:solid #d9e1ef; border-width:0px 1px 1px 0px;padding:10px 5px 10px 16px;  }

.tb3{ line-height:24px;}
.ncenter_box table {
  line-height: 42px;
  margin: 0 auto;
}